* {
    /* 200, 300, 700 */
    font-family: 'Poppins', sans-serif;
}

.main {
  text-align: center;
}

.app-logo {
  height: 50px;
  pointer-events: none;
}

.header {
  background-color: #018060;
  color: white;

  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
    font-weight: 700;
}

/* Nominate Jumbotron */
.nominated-jumbo {
    background-color: #018060 !important;
}

.nominate-jumbo {
    background-color: #F2F2F2 !important;
}
/* Nominate Button */
.nominate-btn {
    background-color: #018060 !important;
    border-radius: 50px !important;
    color: white !important;
    border-width: 0px !important;
}

.de-nominate-btn {
    background-color: white !important;
    border-radius: 50px !important;
    color: #018060 !important;
    border-width: 0px !important;
}

/* Col re-alignment */
.col-md-6 {
    text-align: left !important;
}

@media(max-width: 768px) {
    .col-md-6 {
        text-align: center !important;
        /* -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%; */
    }
}